* { margin: 0; padding: 0; 
    font-family: 'Raleway', sans-serif;}

html {
    background: url(/static/img/BodyBg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

#nav {
    background-color: ;
    background: url(/static/img/Header_01.png) no-repeat center center;
    height: 100px;
    margin-bottom: ;
}

#question_input {
    font-size: 25px;
    float: left;
    border: none;
    width: 80%;
    margin-left: 10%;
    margin-bottom: ;
    margin-top: ;
    text-align: left;
    font-color: black;
    height: 80%;
    text-align: left;
    font-color: black;
    height: 50px;
    background-color:;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    outline:none;
    border: none;
    font-size: 28px;
}

#question_container {
    background-color: white;
    position: absolute;
    margin-top: 45px;
    left: 5%;
    width: 90%;
    z-index: 100; 
    height: 50px;
    border-radius: 182px 182px 182px 182px;
    -moz-border-radius: 182px 182px 182px 182px;
    -webkit-border-radius: 182px 182px 182px 182px;
    font-color: black;
}

#question_img {
    margin-top: 7px;
}

#answer_container {
    background-color: white;
    position: absolute;
    min-width: 300px;
    padding-left: 60px;
    padding-right: 50px;;
    top: 324px;
    left: 5%;
    width: 90%;
    z-index: 100; 
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    opacity: 0.8;
    font-size: 20px;
    font-color: black;
    margin-bottom: 100px;
}

#team_container {
    background-color: white;
    position: absolute;
    min-width: 300px;
    padding-left: 60px;
    padding-right: 50px;;
    top: 144px;
    left: 5%;
    width: 90%;
    z-index: 100; 
    height: auto;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    opacity: 0.8;
    font-size: 20px;
    font-color: black;
    margin-bottom: 50px;
    padding-top: 20px;
	overflow: hidden;
}

#team_container img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;

}

@media only screen and (min-width:550px){
.info1 {
	width: 50%;
	float: left;
	min-height: 450px;
 }
}

@media only screen and (min-width:550px){
.info2{
	width: 50%;
	float: right;
	
	min-height: 450px;
 }
}

#team_list {
    
}

#answer_list {
    list-style-type: none;
}

#list_img {
    height: 25px;
    width: 25px;
}

#blue_box {
    height: 140px;
    background-color: #1BC0D9;
}

#form_container {
    height: 50px;
    vertical-align: middle;
}

#answer_icon {
    height: 80x;
    width: 70px;
    right: 40px;
    bottom: 70px;
}

#container {
    height: 1px;
}

#nav_bar {
    position: absolute;
    top: 98px;
    text-align: center;
}

#nav_bar ul li {
    display: inline;
    padding: 10px;
}

#nav_bar ul li a {
    text-decoration: none;
}


#word_cloud {
   width: 100%;
}

#answer_body {
    margin-top: -40px;
    margin-bottom: 50px;
}
