<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Ask Budget">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- load bootstrap via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        <!-- load angular via CDN -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
        
        <!-- load local js -->
        <script src="js/app.js"></script>
    
    </head>
<body>
  <div ng-app="search">
      <!-- Header -->
        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Ask-Budget</a>
				</div>
			</div>
			</nav>
		</header>
        <!-- Body -->
        <div class="container">
            <div ng-controller="queryListCtrl">            
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <input type="text" ng-model="query"/>
                    </div>
                </div>    
                <div class="row">
                    <table class="table" id="searchTextResults">
                      <tr><th>Answer</th><th>Date</th></tr>
                      <tr ng-repeat="anwer in answers | filter:query">
                        <td>{{anwer.post}}</td>
                        <td>{{anwer.datetime}}</td>
                      </tr>
                    </table>
                </div>
            </div>            
		</div>
  </div>
</body>
</html>