<!doctype html>
<html lang="en">
<head>  
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Ask Budget">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- load bootstrap via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/bower_components/jqcloud2/dist/jqcloud.min.css">

        <!-- load angular via CDN -->
        <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/static/bower_components/jqcloud2/dist/jqcloud.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
        <script src="/static/bower_components/angular-jqcloud/angular-jqcloud.js"></script>
        
        <!-- load local js -->
        <script src="/static/js/app.js"></script>    

        <link rel="stylesheet" href="static/css/main.css" />
        <!-- load fonts -->
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>
</head>

<body ng-app="search">
{% raw %}
<div ng-controller="queryListCtrl">            
    <!-- Header -->
    <header>
        <nav class="navbar navbar-default" id="nav">
        </nav>
    </header>

    <!-- Body -->
    <div id="blue_box">
      <div id="question_container">
        <form id="form_container" ng-submit="submit()">
          <input type="text" ng-model="question" name="text" placeholder="I WANT TO KNOW ABOUT ....." id="question_input"/>
          <input type="image"  src="/static/img/SearchButton.png" width="25px" id="question_img"/>
        </form>
      </div>
    </div>
    
    <div id="answer_container">
        <img id="answer_icon" src="../static/img/icon_1024.png">

        <div ng-show="related_spend">
            <h3>TLDR:</h3>

            <ul ng-repeat="doc in related_spend.docs">
                <li>{{ doc.text }}</li>
            </ul>
        </div>

        <hr> 

        <div ng-show="top_mentions">
            Mentioned <span ng-repeat="doc in top_mentions.docs"><strong>{{ doc.count}}</strong> 
                         {{doc.count != 1 ? 'times' : 'time' }} in <a ng-href="?doc_name={{ doc.name }}">{{ doc.name }}</a>
                         <span ng-show="!$last">, </span>
                      </span>.
        </div>

        <hr> 

        <div ng-show="main_concepts">
            See also: <span ng-repeat="doc in main_concepts.docs"><a ng-href="?concept={{ doc.text }}">{{ doc.text }}</a>, </span>
                        <span ng-repeat="keyword in related_things.keywords"><a ng-href="?keyword={{ keyword.name }}">{{ keyword.name }}</a><span ng-show="!$last">, </span>
                      </span>
        </div>

    </div>

</div>
{% endraw %}
</body>
</html>
