<!DOCTYPE html>
<html lang="en">
<head>  
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Ask Budget">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- load bootstrap via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/bower_components/jqcloud2/dist/jqcloud.min.css">

        
        <link rel="stylesheet" href="static/css/main.css" />
        <!-- load fonts -->
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>
</head>

<body ng-app="search">
{% raw %}
<div ng-controller="QueryCtrl">
    <!-- Header -->
    <header>
        <nav class="navbar navbar-default" id="nav">
            <div id="nav_bar">
                <ul> 
                    <li><a href="/">Home</a></li>
                    <li><a href="/project">Project Page</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Body -->
    <div id="blue_box">
      <div id="question_container">
        <form id="form_container" ng-submit="sendQuestion()">
          <input type="text" ng-model="$root.question" name="text" placeholder="I want to know about..." id="question_input"/>
          <input type="image"  src="/static/img/SearchButton.png" width="25px" id="question_img"/>
        </form>
      </div>
    </div>
    
    <div id="answer_container">
      <div id="answer_body">
        <img id="answer_icon" src="../static/img/icon_1024.png">
        <div ng-view></div>
      </div>
    </div>

</div>
{% endraw %}
<!-- load angular via CDN -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/jqcloud2/dist/jqcloud.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="/static/bower_components/angular-route/angular-route.js"></script>
<script src="/static/bower_components/angular-jqcloud/angular-jqcloud.js"></script>

<!-- load local js -->
<script src="/static/js/app.js"></script>    

</body>

</html>
