<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <title>{% block title %}{% endblock %} - AskBudget</title>
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        <!main  nav here!> 
            <h1>Ask Budget</h1>    
        {% endblock %}
    
        {% block content %}
        <!body content goes here!>

        {% endblock %}

        <footer class="footer"></footer>
    </body>
</html>
