<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Ask Budget">
    <meta name="viewport" content="width=device-width, intial-scale=1">

    <!-- load local css -->        
    <link rel="stylesheet" href="static/css/main.css">
    
    <!-- load bootstrap via CDN --> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> 

    <!-- load fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css' />
</head>
<body>
    <header>
        <nav class="navbar navbar-default" id="nav">
            <div id="nav_bar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/project">Project Page</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="container">
    </div>  
    <div id="team_container">
	<img id="project_image" src="../static/img/ProjectPage.png" width="1389px" height="832px"> 
	
		<h3><strong>Project/Team Name: </strong> AskBudget</h3>       
        <h4><strong>Code: </strong><a href="https://github.com/budgethack/askbudget">https://github.com/budgethack/askbudget</a></h4>
        <hr>
		<h3><strong>Project Description Data Story</strong></h3>
        <p>This is a short description that describes how data has been reused and what your project is about.</p>
		<hr>
	<div class="info1">	
        <h3><strong>Team Members</strong></h3>
        <ul id="team_list">
            <li>Alex Cheong</li>
            <li>Ben Diep</li>
            <li>Damon Toumbourou</li>
            <li>Lex Toumbourou</li>
            <li>Lucy Wood</li>
            <li>Sumyatnoe Pwint</li>
        </ul>
     </div>   


	<div class="info2">
        
        <h3><strong>Data Sets Used: </strong></h3>
        <h3>2015-16 State Budget Papers</h3>
        <ul> 
            <li><a href="http://www.dtf.vic.gov.au/State-Budget/2015-16-State-Budget/Budget-Overview">Budget Overview</a></li>
            <li><a href="http://www.dtf.vic.gov.au/State-Budget/2015-16-State-Budget/Treasurers-Speech">Budget Paper No. 1: Treasurer's Speech</a></li>
            <li><a href="http://www.dtf.vic.gov.au/State-Budget/2015-16-State-Budget/Strategy-and-Outlook">Budget Paper No. 2: Stratergy and Outlook</a></li>
            <li><a href="http://www.dtf.vic.gov.au/State-Budget/2015-16-State-Budget/Service-Delivery">Budget Paper No. 3: Service Delivery</a></li>
            <li><a href="http://www.dtf.vic.gov.au/State-Budget/2015-16-State-Budget/State-Capital-Program">Budget Paper No. 4: State Capital Program</a></li>
            <li><a href="http://www.dtf.vic.gov.au/State-Budget/2015-16-State-Budget/Statement-of-Finances">Budget Paper No. 5: Statement of Finances</a></li>
            <li><a href="http://www.dtf.vic.gov.au/State-Budget/2015-16-State-Budget/Putting-People-First">Putting People First</a></li>
            <li><a href="http://www.dtf.vic.gov.au/State-Budget/2015-16-State-Budget/Getting-On-With-It">Getting On With It</a></li>
            <li><a href="http://www.dtf.vic.gov.au/State-Budget/2015-16-State-Budget/Rural-and-Regional">Rural and Regional</a></li>
            <li><a href="http://www.dtf.vic.gov.au/State-Budget/2015-16-State-Budget/Suburban-Growth">Suburban Growth</a></li>
        </ul>

       </div> 
    

        

    </div>

</body>
</html>
